<% content_for(:title) { 'New comment' } %>

<div class="container bg-light" style="margin-top:100px;width:50%">
  <div class="p-5 text-center">
    <h1>New Comment</h1>
    <%= render 'form', comment: @comment %>
  </div>
</div>

<%= link_to 'Back', post_path(@post), class: "text-center" %>
